---
import MainLayout from "../layouts/MainLayout.astro";
import PanoramaViewer from "../components/PanoramaViewer.astro";
---

<MainLayout title="Panorama">
    <h1>Suur-Merijoki Panorama</h1>

    <PanoramaViewer />
</MainLayout>
