<header>
    <nav>
        <a href="/">Main</a>
        <a href="/suur-merijoki">Suur-Merijoki</a>
        <a href="/vmm">Niernsee Virtual Museum</a>
        <a href="/about">About</a>
    </nav>
</header>