---
interface Props {
  src: string;
  title?: string;
}

const { src, title = "Video" } = Astro.props;
---

<div class="video">
  <iframe
    src={src}
    title={title}
    loading="lazy"
    allowfullscreen>
  </iframe>
</div>